{% extends "base.html" %}
{% block title %}{{ _("Changement de mot de passe") }}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">{{ _("Changement de mot de passe") }}</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("password") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.email_address.errors %} has-error{% endif %}">
        {{ form.email_address.label(for="email_address") }}
        {{ form.email_address(class="form-control", placeholder="_('Entrez votre adresse email')") }}
        {% if form.email_address.errors %}
        <div class="help-text">
            {% for error in form.email_address.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("start") }}" class="btn btn-light">{{ _("Annuler") }}</a>
    </div>
</form>
{% endblock %}
