{% extends "base.html" %}
{% block title %}{% trans %}Changement d'adresse email{% endtrans %}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">{% trans %}Accueil{% endtrans %}</a></li>
    <li class="breadcrumb-item active">{% trans %}Changement d'adresse email{% endtrans %}</li>
</ol>
{% endblock %}

{% block page_content %}
<p>{% trans %}Adresse email actuelle :{% endtrans %} <strong>{{ email }}</strong>.</p>

<form method="POST" action="{{ url("email") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.email_address.errors %} has-error{% endif %}">
        {{ form.email_address.label(for="email_address") }}
        {{ form.email_address(class="form-control", placeholder="{% trans %}Entrez votre adresse email{% endtrans %}") }}
        {% if form.email_address.errors %}
        <div class="help-text">
            {% for error in form.email_address.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("home") }}" class="btn btn-light">{% trans %}Annuler{% endtrans %}</a>
    </div>
</form>
{% endblock %}
