{% extends "base.html" %}
{% block title %}{{ _("Connexion") }}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">{{ _("Connexion") }}</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("login") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group">
        {{ _("Pas encore client ?") }}
        <a href={{ url("register") }} class="btn btn-secondary">{{ _("Enregistrez vous") }}</a>
    </div>
    <div class="form-group{% if form.login.errors %} has-error{% endif %}">
        {{ form.login.label(for="login") }}
        {{ form.login(class="form-control") }}
        {% if form.login.errors %}
        <div class="help-text">
            {% for error in form.login.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
        <small><a href="{{ url("id") }}">{{ _("Identifiant oublié") }}</a></small>
    </div>
    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
        {{ form.password.label(for="password") }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
        <div class="help-text">
            {% for error in form.password.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
        <small><a href="{{ url("password") }}">{{ _("Mot de passe oublié") }}</a></small>
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<p>
    <small>{{ _("Pour tout problème concernant ce site, veuillez écrire à") }}
    <a href="mailto:{{ app.config.application.from }}?subject={{ app.config.application.site_name }}">{{ app.config.application.from }}</a></small>
</p>
{% endblock %}
