{% extends "base.html" %}
{% block title %}Connexion{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">Connexion</li>
</ol>
{% endblock %}
{% block page_content %}
<form method="POST" action="{{ url("login") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.login.errors %} has-error{% endif %}">
        {{ form.login.label(for="login") }}
        {{ form.login(class="form-control", placeholder="Entrez votre identifiant") }}
        {% if form.login.errors %}
        <div class="help-text">
            {% for error in form.login.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
        {{ form.password.label(for="password") }}
        {{ form.password(class="form-control", placeholder="Entrez votre mot de passe") }}
        {% if form.password.errors %}
        <div class="help-text">
            {% for error in form.password.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("start") }}" class="btn btn-default">Annuler</a>
    </div>
</form>
{% endblock %}
