{% extends "base.html" %}
{% block title %}{{ _("Enregistrement") }}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("login") }}">{{ _("Connexion") }}</a></li>
    <li class="breadcrumb-item active">{{ _("Enregistrement") }}</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("register") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.login.errors %} has-error{% endif %}">
        {{ form.login.label(for="login") }}
        {{ form.login(class="form-control") }}
        {% if form.login.errors %}
        <div class="help-text">
            {% for error in form.login.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
        {{ form.password.label(for="password") }}
        {{ form.password(class="form-control") }}
        {% if form.password.errors %}
        <div class="help-text">
            {% for error in form.password.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
        {{ form.password2.label(for="password2") }}
        {{ form.password2(class="form-control") }}
        {% if form.password2.errors %}
        <div class="help-text">
            {% for error in form.password.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.first_name.errors %} has-error{% endif %}">
        {{ form.first_name.label(for="first_name") }}
        {{ form.first_name(class="form-control") }}
        {% if form.first_name.errors %}
        <div class="help-text">
            {% for error in form.first_name.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.last_name.errors %} has-error{% endif %}">
        {{ form.last_name.label(for="last_name") }}
        {{ form.last_name(class="form-control") }}
        {% if form.last_name.errors %}
        <div class="help-text">
            {% for error in form.last_name.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.email_address.errors %} has-error{% endif %}">
        {{ form.email_address.label(for="email_address") }}
        {{ form.email_address(class="form-control") }}
        {% if form.email_address.errors %}
        <div class="help-text">
            {% for error in form.email_address.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.phone_number.errors %} has-error{% endif %}">
        {{ form.phone_number.label(for="phone_number") }}
        {{ form.phone_number(class="form-control") }}
        {% if form.phone_number.errors %}
        <div class="help-text">
            {% for error in form.phone_number.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.repository_id.label(for="repository_id") }}
        {{ form.repository_id(class="form-control") }}
    </div>
    <div class="checkbox">
        <label>
            {{ form.mailing() }}
            <strong>{{ form.mailing.label.text }}</strong>
        </label>
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("login") }}" class="btn btn-light">{{ _("Annuler") }}</a>
    </div>
</form>

{% if app.config.map %}
{% include "map.html" %}
{% endif %}
{% endblock %}
