[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosmtplib = "==1.0.2"
asyncpg = "==0.17.0"
cryptography = "==2.3.1"
gunicorn = "==19.9.0"
itsdangerous = "==0.24"
passlib = "==1.7.1"
"aiohttp_jinja2" = "==1.0.0"
aiohttp_security = "==0.2.0"
aiohttp_session_flash = "==0.0.4"
WTForms = "==2.2.1"
"e1839a8" = {path = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.5"
