[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosmtplib = "==1.1.2"
asyncpg = "==0.20.0"
cryptography = "==2.8"
gunicorn = "==20.0.4"
itsdangerous = "==1.1.0"
passlib = "==1.7.2"
"aiohttp_jinja2" = "==1.2.0"
aiohttp_security = "==0.4.0"
aiohttp_session_flash = "==0.0.4"
WTForms = "==2.2.1"
"e1839a8" = {path = "."}

[dev-packages]

[requires]
python_version = "3.7"
