[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiosmtplib = "*"
asyncpg = "*"
cryptography = "*"
gunicorn = "*"
itsdangerous = "*"
passlib = "*"
"aiohttp_babel" = "*"
"aiohttp_jinja2" = "*"
aiohttp_security = "*"
aiohttp_session_flash = "*"
WTForms = "*"
multidict = "*"
molb = {path = "."}
email-validator = "*"

[dev-packages]
pytest = "*"
pytest-cov =  "*"

[requires]
python_version = "3.8"
