aiohttp==3.0.5
aiohttp-jinja2==0.14.0
aiohttp-security==0.1.2
aiohttp-session==2.3.0
aiohttp-session-flash==0.0.4
aiosmtplib==1.0.2
asn1crypto==0.24.0
async-timeout==2.0.0
asyncpg==0.15.0
attrs==17.4.0
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
gunicorn==19.7.1
idna==2.6
idna-ssl==1.0.0
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
molb==0.5.2
multidict==4.1.0
passlib==1.7.1
pkg-resources==0.0.0
pycparser==2.18
six==1.11.0
WTForms==2.1
yarl==1.1.1
