[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=franck
Group=www-data
WorkingDirectory=/home/franck/my-own-little-business/molb/
ExecStart=/home/franck/my-own-little-business/molb/venv/bin/gunicorn main:app --workers 3 --bind 127.0.0.1:8080 --worker-class aiohttp.GunicornWebWorker

[Install]
WantedBy=multi-user.target
