[Unit]
Description=gunicorn instance to serve molb
After=network.target

[Service]
User=molb
Group=www-data
Environment=MOLB_CONFIG=/home/molb/molb.conf
Restart=on-failure
WorkingDirectory=/home/molb
ExecStart=/home/molb/venv/bin/gunicorn molb.main:app --workers 3 --bind unix:/home/molb/molb.sock --worker-class aiohttp.GunicornWebWorker

[Install]
WantedBy=multi-user.target
