aiohttp==3.9.1
aiohttp-babel==0.0.6
aiohttp-jinja2==1.6
aiohttp-security==0.5.0
aiohttp-session==2.12.0
aiohttp-session-flash==0.0.4
aiosignal==1.3.1
aiosmtplib==3.0.1
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
Babel==2.14.0
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==41.0.7
dnspython==2.4.2
email-validator==2.1.0.post1
frozenlist==1.4.1
gunicorn==21.2.0
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
multidict==6.0.4
passlib==1.7.4
pytz==2023.3.post1
speaklater==1.3
typing_extensions==4.9.0
WTForms==3.1.1
yarl==1.9.4
