aiohttp==3.8.1
aiohttp-babel==0.0.6
aiohttp-jinja2==1.5
aiohttp-security==0.4.0
aiohttp-session==2.10.0
aiohttp-session-flash==0.0.4
aiosignal==1.2.0
aiosmtplib==1.1.6
async-timeout==4.0.2
asyncpg==0.25.0
attrs==21.4.0
Babel==2.9.1
chardet==4.0.0
charset-normalizer==2.0.10
cryptography==39.0.1
dnspython==2.2.0
email-validator==1.1.3
frozenlist==1.3.0
gunicorn==20.1.0
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
multidict==5.2.0
passlib==1.7.4
pytz==2021.3
speaklater==1.3
typing_extensions==4.0.1
WTForms==3.0.1
yarl==1.7.2
