flake8==4.0.1
jedi==0.18.0
mccabe==0.6.1
mypy-extensions==0.4.3
mypy==0.910
parso==0.8.2
pluggy==1.0.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyls-flake8==0.4.0
pylsp-mypy==0.5.2
pylsp-rope==0.1.7
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
rope==0.21.0
toml==0.10.2
typing-extensions==3.10.0.2
ujson==4.2.0
