{% extends "base.html" %}
{% block title %}Changement d'adresse mail{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("home") }}">Accueil</a></li>
    <li class="active">Changement d'adresse mail</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("email") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.email_address.errors %} has-error{% endif %}">
        <label for="email_address">{{ form.email_address.label }}</label>
        {{ form.email_address(class="form-control", placeholder="Entrez votre adresse mail") }}
        {% if form.email_address.errors %}
        <div class="help-text">
            {% for error in form.email_address.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("home") }}" class="btn btn-default">Annuler</a>
    </div>
</form>
{% endblock %}
