{% extends "base.html" %}
{% block title %}Recover password{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">Recover password</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("confirm_password", token=token) }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
        <label for="password">{{ form.password.label }}</label>
        {{ form.password(class="form-control", placeholder="Enter your password") }}
        {% if form.password.errors %}
        <div class="help-text">
            {% for error in form.password.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.password2.errors %} has-error{% endif %}">
        <label for="password">{{ form.password2.label }}</label>
        {{ form.password2(class="form-control", placeholder="Enter again your password") }}
        {% if form.password2.errors %}
        <div class="help-text">
            {% for error in form.password.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("login") }}" class="btn btn-default">Cancel</a>
    </div>
</form>
{% endblock %}
