[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	br = branch
[user]
	email = contact@molb.com
	name = molb
[core]
	editor = vim
[color "status"]
        changed = red white
        untracked = red white
