{% extends "bootstrap/base.html" %}

{% block metas %}
{{ super() }}
    <meta charset="utf-8">
{% endblock %}

{% block styles %}
{{ super() }}
    <link rel="icon" type="image/ico" href="/static/favicon.ico"/>
    <link type="text/css" href="/static/css/styles.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="/static/popper/popper.min.js"></script>
    <script type="text/javascript" src="/static/moment/moment-with-locales.min.js"></script>
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h2>{{ app.config.application.site_name }} <small>{{ _("Commandes") }}</small></h2>
        </div>
        <div class="col-lg-2">
            <a href="{{ url("en") }}"><img src="/static/english-flag.png"></a>
            <a href="{{ url("fr") }}"><img src="/static/france-flag.png"></a>
        </div>
        <div class="col-lg-3">
{% if authorized_userid %}
            {{ authorized_userid }}&nbsp;<a href="{{ url("logout") }}" class="btn btn-light">{{ _("Déconnexion") }}</a>
{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
{% block breadcrumb %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
{% block message %}
{% for message in get_flashed_messages() %}
            <div class="alert alert-{{ message[0] }}" role="alert">
                {{ message[1] }}
            </div>
{% endfor %}
{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 d-none d-lg-block">
            <img src="/static/logo.png">
        </div>
        <div class="col-lg-8">
{% block page_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
