{% extends "bootstrap/base.html" %}

{% block metas %}
{{ super() }}
    <meta charset="utf-8">
{% endblock %}

{% block styles %}
{{ super() }}
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <h2>{{ app.config.application.site_name }} <small>{{ _("Commandes") }}</small></h2>
        </div>
        <div class="col-lg-2">
            <a href="{{ url("en") }}"><img src="/static/english-flag.png"></a>
            <a href="{{ url("fr") }}"><img src="/static/france-flag.png"></a>
        </div>
        <div class="col-lg-2 btn-toolbar">
{% if authorized_userid %}
            <a href="{{ url("logout") }}" class="btn btn-light">{{ _("Déconnexion") }}</a>
{% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
{% block breadcrumb %}{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
{% block message %}
{% for message in get_flashed_messages() %}
            <div class="alert alert-{{ message[0] }}" role="alert">
                {{ message[1] }}
            </div>
{% endfor %}
{% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 d-none d-lg-block">
            <img src="/static/logo.png">
        </div>
        <div class="col-lg-8">
{% block page_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}
