{% extends "base.html" %}
{% block title %}Enregistrement d'un paiement{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("home") }}">Accueil</a></li>
    <li><a href="{{ url("list_client") }}">Clients</a></li>
    <li class="active">Enregistrement d'un paiement</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("create_payment", id=client_id) }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.amount.errors %} has-error{% endif %}">
        {{ form.amount.label(for="amount") }}
        {{ form.amount(class="form-control", placeholder="Entrez le montant") }}
        {% if form.amount.errors %}
        <div class="help-text">
            {% for error in form.amount.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.mode.label(for="mode") }}
        {{ form.mode() }}
    </div>
    <div class="form-group{% if form.reference.errors %} has-error{% endif %}">
        {{ form.reference.label(for="reference") }}
        {{ form.reference(class="form-control", placeholder="Entrez la référence") }}
        {% if form.reference.errors %}
        <div class="help-text">
            {% for error in form.reference.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("list_client") }}" class="btn btn-default">Annuler</a>
    </div>
</form>
{% endblock %}
