{% extends "base.html" %}

{% block styles %}
{{ super() }}
    <link type="text/css" href="/static/fontawesome-free/css/all.css" rel="stylesheet">
    <link type="text/css" href="/static/tempusdominus-bootstrap4/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet">
{% endblock %}

{% block title %}{{ _("Création d'une fournée") }}{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="/static/tempusdominus-bootstrap4/js/tempusdominus-bootstrap-4.min.js"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">{{ _("Accueil") }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url("list_batch") }}">{{ _("Fournées") }}</a></li>
    <li class="breadcrumb-item active">{{ _("Création d'une fournée") }}</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("create_batch") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.date.errors %} has-error{% endif %}">
        {{ form.date.label(for="date") }}
        <div class="input-group date" id="date" data-target-input="nearest">
            <input type="text" id="date" name="date" class="form-control datetimepicker-input" data-target="#date"
            {% if form.date.data is none %}
            placeholder="{{ _("Entrez la date de livraison") }}"
            {% else %}
            value="{{ form.date.data.strftime("%d/%m/%Y") }}"
            {% endif %}
            />
            <div class="input-group-append" data-target="#date" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="far fa-calendar"></i></div>
            </div>
        </div>
        {% if form.date.errors %}
        <div class="help-text">
            {% for error in form.date.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.capacity.label(for="capacity") }}
        {{ form.capacity(class="form-control") }}
        {% if form.capacity.errors %}
        <div class="help-text">
            {% for error in form.capacity.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.opened() }}
        {{ form.opened.label(for="opened") }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("list_batch") }}" class="btn btn-light">{{ _("Annuler") }}</a>
    </div>
</form>

<script>
$.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
    icons: {
        time: "far fa-clock",
        date: "far fa-calendar",
        up: "fas fa-arrow-up",
        down: "fas fa-arrow-down",
        previous: "fas fa-chevron-left",
        next: "fas fa-chevron-right",
        today: "far fa-calendar-check-o",
        clear: "far fa-trash",
        close: "far fa-times"
    }
});

$(function() {
    $("#date").datepicker({
        locale: "fr",
        allowInputToggle: true,
        minDate: moment().add(1, "days"),
        format: "L"
    });
});
</script>

{% endblock %}
