{% extends "base.html" %}
{% block title %}Saisie d'une commande{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("home") }}">Accueil</a></li>
    <li><a href="{{ url("list_order") }}">Commandes</a></li>
    <li class="active">Saisie d'une commande (1/2)</li>
</ol>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("create_order") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group">
        {{ form.batch_id.label(for="batch_id") }}
        {{ form.batch_id(class="form-control") }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("list_order") }}" class="btn btn-default">Annuler</a>
    </div>
</form>
{% endblock %}
