{% extends "base.html" %}
{% block title %}{{ _("Modification d'une commande") }}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">{{ _("Accueil") }}</a></li>
    <li class="breadcrumb-item"><a href="{{ url("list_order") }}">{{ _("Commandes") }}</a></li>
    <li class="breadcrumb-item active">{{ _("Modification d'une commande") }}</li>
</ol>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}

{% block page_content %}
<p><b>{{ _("Fournée du") }} {{ batch_date.strftime("%d-%m-%YM") }}</b></p>

<form method="POST" action="{{ url("edit_fill_order", id=order_id) }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ _("Produit") }}</th>
                <th>{{ _("Prix unitaire") }}</th>
                <th>{{ _("Quantité") }}</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                {% if product.description %}
                <td><a href="#" data-toggle="tooltip" title="{{ product.description }}">{{ product.name }}</a></td>
                {% else %}
                <td>{{ product.name }}</td>
                {% endif %}
                <td>{{ product.price }}</a></td>
                <td>
                    <input class="form-control" name="product_qty_{{ product.id }}"
                    value="{{ product.ordered }}"
                    placeholder="{{ _("Entrez la quantité") }}"
                    type="number" step="1">
                </td>
                <td>{{ product.quantity }} </td>
            {% endfor %}
        </tbody>
    </table>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("list_order") }}" class="btn btn-light">{{ _("Annuler") }}</a>
    </div>
</form>
{% endblock %}
