{% extends "base.html" %}
{% block title %}Modification d'un produit{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ url("list_product") }}">Produits</a></li>
    <li class="breadcrumb-item active">Modification d'un produit</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("edit_product", id=id) }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        {{ form.name.label(for="name") }}
        {{ form.name(class="form-control", placeholder="Entrez le nom") }}
        {% if form.name.errors %}
        <div class="help-text">
            {% for error in form.name.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.description.errors %} has-error{% endif %}">
        {{ form.description.label(for="description") }}
        {{ form.description(class="form-control", placeholder="Entrez la description") }}
        {% if form.description.errors %}
        <div class="help-text">
            {% for error in form.description.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.price.errors %} has-error{% endif %}">
        {{ form.price.label(for="price") }}
        {{ form.price(class="form-control", placeholder="Entrez le  prix") }}
        {% if form.price.errors %}
        <div class="help-text">
            {% for error in form.price.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.load.errors %} has-error{% endif %}">
        {{ form.load.label(for="load") }}
        {{ form.load(class="form-control", placeholder="Entrez le poids du pâton") }}
        {% if form.load.errors %}
        <div class="help-text">
            {% for error in form.load.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.available() }}
        {{ form.available.label(for="available") }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("list_product") }}" class="btn btn-light">Annuler</a>
    </div>
</form>
{% endblock %}
