{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="/static/gijgo/css/gijgo.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{% trans %}Modification d'une fournée{% endtrans %}{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/gijgo/js/gijgo.min.js" type="text/javascript"></script>
<script src="/static/gijgo/js/messages/messages.fr-fr.min.js" type="text/javascript"></script>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">{% trans %}Accueil{% endtrans %}</a></li>
    <li class="breadcrumb-item"><a href="{{ url("list_batch") }}">{% trans %}Fournées{% endtrans %}</a></li>
    <li class="breadcrumb-item active">{% trans %}Modification d'une fournée{% endtrans %}</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("edit_batch", id=id) }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group">
        {{ form.date.label(for="date") }}
    <input id="date" name="date" readonly width="100%" value="{{ form.date.data.strftime("%d/%m/%Y") }}" />
    </div>
    <div class="form-group{% if form.capacity.errors %} has-error{% endif %}">
        {{ form.capacity.label(for="capacity") }}
        {{ form.capacity(class="form-control", placeholder="{% trans %}Entrez la capacité de la fournée{% endtrans %}") }}
        {% if form.capacity.errors %}
        <div class="help-text">
            {% for error in form.capacity.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.opened() }}
        {{ form.opened.label(for="opened") }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("list_batch") }}" class="btn btn-light">{% trans %}Annuler{% endtrans %}</a>
    </div>
</form>

<script>
    var date = new Date();
    date.setDate(date.getDate()+1);
    tomorow = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('#date').datepicker({
        format: "d/m/yyyy",
        uiLibrary: "bootstrap4",
        locale: "fr-fr",
        minDate: tomorow,
        weekStartDay: 1
    });
</script>

{% endblock %}
