{% extends "base.html" %}
{% block title %}Modification d'un point de livraison{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">Accueil</a></li>
    <li class="breadcrumb-item"><a href="{{ url("list_repository") }}">Points de livraison</a></li>
    <li class="breadcrumb-item active">Modification d'un point de livraison</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("edit_repository", id=id) }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        {{ form.name.label(for="name") }}
        {{ form.name(class="form-control", placeholder="Entrez le nom") }}
        {% if form.name.errors %}
        <div class="help-text">
            {% for error in form.name.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.opened() }}
        {{ form.opened.label(for="opened") }}
    </div>
    <div class="form-group">
        <p><strong>Jours de livraison</strong></p>

        <label class="checkbox-inline">
        {{ form.monday() }}
        {{ form.monday.label.text }}
	</label>

        <label class="checkbox-inline">
        {{ form.tuesday() }}
        {{ form.tuesday.label.text }}
	</label>

        <label class="checkbox-inline">
        {{ form.wednesday() }}
        {{ form.wednesday.label.text }}
	</label>

        <label class="checkbox-inline">
        {{ form.thursday() }}
        {{ form.thursday.label.text }}
	</label>

        <label class="checkbox-inline">
        {{ form.friday() }}
        {{ form.friday.label.text }}
	</label>

        <label class="checkbox-inline">
        {{ form.saturday() }}
        {{ form.saturday.label.text }}
	</label>

        <label class="checkbox-inline">
        {{ form.sunday() }}
        {{ form.sunday.label.text }}
	</label>
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("list_repository") }}" class="btn btn-light">Annuler</a>
    </div>
</form>
{% endblock %}
