{% extends "base.html" %}
{% block title %}{% trans %}Accueil{% endtrans %}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">{% trans %}Accueil{% endtrans %}</li>
</ol>
{% endblock %}

{% block page_content %}
{% if client.super_user %}
<h3>Éléments de base</h3>
<ul>
    <li><a href="{{ url("list_batch") }}">{% trans %}Fournées{% endtrans %}</a></li>
    <li><a href="{{ url("list_product") }}">{% trans %}Produits{% endtrans %}</a></li>
    <li><a href="{{ url("list_repository") }}">{% trans %}Points de livraison{% endtrans %}</a></li>
</ul>

<h3>{% trans %}Clients{% endtrans %}</h3>

<ul>
    <li><a href="{{ url("list_account") }}">{% trans %}Non confirmés{% endtrans %}</a></li>
    <li><a href="{{ url("list_client") }}">{% trans %}Liste{% endtrans %}</a></li>
</ul>

<h3>{% trans %}Production{% endtrans %}</h3>

<ul>
    <li><a href="{{ url("plan") }}">{% trans %}Plan de fournée{% endtrans %}</a></li>
</ul>
{% else %}
<h3>{% trans %}Commandes{% endtrans %}</h3>

<ul>
    <li><a href="{{ url("list_order") }}">{% trans %}Commandes{% endtrans %}</a></li>
</ul>
{% endif %}

<h3>Profil</h3>

<ul>
{% if not client.super_user %}
    <li><a href="#" data-href="{{ url("delete_profile") }}" data-toggle="modal" data-target="#confirm-delete">{% trans %}Supprimez votre profil{% endtrans %}</a></li>
{% endif %}
    <li><a href="{{ url("edit_profile") }}">{% trans %}Modifier votre profil{% endtrans %}</a></li>
    <li><a href="{{ url("email") }}">{% trans %}Modifier votre adresse email{% endtrans %}</a></li>
</ul>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {% trans %}Suppression de votre profil{% endtrans %}
            </div>
            <div class="modal-body">
                {% trans %}Attention, si vous supprimez votre profil, vous perdrez toutes vos commandes.{% endtrans %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">{% trans %}Annuler{% endtrans %}</button>
                <a class="btn btn-danger btn-ok">{% trans %}Supprimer{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$('#confirm-delete').on(
    'show.bs.modal',
    function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    }
);
</script>
{% endblock %}
