{% extends "base.html" %}
{% block title %}{{ _("Accueil") }}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">{{ _("Accueil") }}</li>
</ol>
{% endblock %}

{% block page_content %}
{% if client.super_user %}
<h3>Éléments de base</h3>
<ul>
    <li><a href="{{ url("list_batch") }}">{{ _("Fournées") }}</a></li>
    <li><a href="{{ url("list_product") }}">{{ _("Produits") }}</a></li>
    <li><a href="{{ url("list_repository") }}">{{ _("Points de livraison") }}</a></li>
</ul>

<h3>{{ _("Clients") }}</h3>

<ul>
    <li><a href="{{ url("list_unconfirmed") }}">{{ _("Non confirmés") }}</a></li>
    <li><a href="{{ url("list_client") }}">{{ _("Liste") }}</a></li>
</ul>

<h3>{{ _("Production") }}</h3>

<ul>
    <li><a href="{{ url("plan") }}">{{ _("Plan de fournée") }}</a></li>
</ul>

<h3>Messages</h3>

<ul>
    <li><a href="{{ url("mailing") }}">{{ _("Envoi de messages") }}</a></li>
</ul>
{% else %}
<h3>{{ _("Commandes") }}</h3>

<ul>
    <li><a href="{{ url("list_order") }}">{{ _("Commandes") }}</a></li>
</ul>
{% endif %}

<h3>Profil</h3>

<ul>
{% if not client.super_user %}
    <li><a href="#" data-href="{{ url("delete_profile") }}" data-toggle="modal" data-target="#confirm-delete">{{ _("Supprimez votre profil") }}</a></li>
{% endif %}
    <li><a href="{{ url("edit_profile") }}">{{ _("Modifier votre profil") }}</a></li>
    <li><a href="{{ url("email") }}">{{ _("Modifier votre adresse email") }}</a></li>
</ul>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                {{ _("Suppression de votre profil") }}
            </div>
            <div class="modal-body">
                {{ _("Attention, si vous supprimez votre profil, vous perdrez toutes vos commandes.") }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">{{ _("Annuler") }}</button>
                <a class="btn btn-danger btn-ok">{{ _("Supprimer") }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
$('#confirm-delete').on(
    'show.bs.modal',
    function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    }
);
</script>
{% endblock %}
