<html>
<head>
    <style>
        th, td { border-bottom : 1px solid black; }
    </style>
</head>
<body>
    <p>Bonjour {{ client.first_name }},</p>

    <p>Nous vous prions de bien trouver ci-dessous votre appel de fonds. Merci
    de joindre vore numéro de client à votre règlement.</p>

    <h3>Éléments de l'appel de fonds</h3>

    <table>
        <tbody>
            <tr>
                <td><b>Numéro de client</b></td>
                <td>{{ client.id }} €</td>
            </tr>
            <tr>
                <td><b>Montant des commandes</b></td>
                <td>{{ total }} €</td>
            </tr>
            <tr>
                <td><b>Porte-monnaie</b></td>
                <td>{{ client.wallet }} €</td>
            </tr>
            <tr>
                <td><b>Au</b></td>
                <td>{{ invoice_date.strftime("%d-%m-%Y") }}</td>
            </tr>
            <tr>
                <td><b>Montant dû</b></td>
                <td><b>{{ total - client.wallet }} €</b></td>
            </tr>
        </tbody>
    </table>

    <h3>Récapitulatif des commandes</h3>

    {% for order_date, order_date_group in payment_details|groupby("order_date") -%}
    {% for order_total, group_list in order_date_group|groupby("order_total") -%}
    <h4>Commande du {{ order_date.strftime("%d-%m-%Y à %H:%M") }}</h4>

    <p>Montant de la commande : {{ order_total }} €</p>

    <table>
        <thead>
            <th>Nom du produit</th>
            <th>Quantité</th>
        </thead>
        <tbody>
            {% for line in group_list -%}
            <tr>
                <td>{{ line.product_name }}</td>
                <td>{{ line.quantity }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>

    {%- endfor %}
    {%- endfor %}

    <p>Nous vous remercions de votre confiance et espérons vous revoir prochainement.</p>
</body>
</html>
