{% extends "base.html" %}
{% block title %}{% trans %}Clients{% endtrans %}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">{% trans %}Accueil{% endtrans %}</a></li>
    <li class="breadcrumb-item active">{% trans %}Clients{% endtrans %}</li>
</ol>
{% endblock %}

{% block page_content %}
{% if clients %}
<h3>{% trans %}Clients{% endtrans %}</h3>

<table class="table table-hover">
   <thead>
      <tr>
         <th>{% trans %}Prénom</th>
         <th>N{% trans %}om</th>
         <th>S{% trans %}tatut</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for client in clients -%}
      <tr>
         <td>{{ client.first_name }}</td>
         <td>{{ client.last_name }}</td>
         <td>{% if client.disabled %}{% trans %}Inactif{% endtrans %}{% else %}{% trans %}Actif{% endtrans %}{% endif %}</td>
         <td><a href="{{ url("toggle_client", id=client.id) }}">{% trans %}Changer statut{% endtrans %}</a></td>
      </tr>
      {%- endfor %}
   </tbody>
</table>
{% endif %}
{% endblock %}
