{% extends "base.html" %}
{% block title %}Clients{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("home") }}">Accueil</a></li>
    <li class="active">Clients</li>
</ol>
{% endblock %}

{% block page_content %}
{% if clients %}
<h3>Clients</h3>

<table class="table table-hover">
   <thead>
      <tr>
         <th>Prénom</th>
         <th>Nom</th>
         <th>Statut</th>
         <th></th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for client in clients -%}
      <tr>
         <td>{{ client.first_name }}</td>
         <td>{{ client.last_name }}</td>
	 <td>{% if client.disabled %}Inactif{% else %}Actif{% endif %}</td>
         <td><a href="{{ url("toggle_client", id=client.id) }}">Changer statut</a></td>
      </tr>
      {%- endfor %}
   </tbody>
</table>
{% endif %}
{% endblock %}
