{% extends "base.html" %}
{% block title %}{{ _("Clients") }}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">{{ _("Accueil") }}</a></li>
    <li class="breadcrumb-item active">{{ _("Clients") }}</li>
</ol>
{% endblock %}

{% block page_content %}
{% if clients %}
<h3>{{ _("Clients") }}</h3>

<table class="table table-hover">
   <thead>
      <tr>
          <th>{{ _("Identifiant") }}</th>
          <th>{{ _("Prénom") }}</th>
          <th>{{ _("Nom") }}</th>
          <th>{{ _("Statut") }}</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for client in clients -%}
      <tr>
         <td>{{ client.login }}</td>
         <td>{{ client.first_name }}</td>
         <td>{{ client.last_name }}</td>
         <td>{% if client.disabled %}{{ _("Inactif") }}{% else %}{{ _("Actif") }}{% endif %}</td>
         <td><a href="{{ url("toggle_client", id=client.id) }}">{{ _("Changer statut") }}</a></td>
      </tr>
      {%- endfor %}
   </tbody>
</table>
{% endif %}
{% endblock %}
