{% extends "base.html" %}
{% block title %}Commandes{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("home") }}">Accueil</a></li>
    <li class="active">Commandes</li>
</ol>
{% endblock %}

{% block page_content %}
{% if disabled %}
<p>Vous n'avez pas la possibilité de passer une commande.</p>
{% else %}
<div class="form-group"><a href="{{ url("create_order") }}" class="btn btn-default">Passer une commande</a></div>
{% endif %}

<table class="table table-hover">
   <thead>
      <tr>
         <th>Date de la commande</th>
         <th>Date de la fournée</th>
         <th>Total</th>
         <th>Statut</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for order in orders -%}
      <tr>
         {% if now < order.cancellation_date and not order.payment_id %}
         <td><a href="{{ url("edit_fill_order", id=order.id) }}">{{ order.order_date.strftime("%Y-%m-%d %H:%M") }}</a></td>
         {% else %}
         <td>{{ order.order_date.strftime("%Y-%m-%d %H:%M") }}</td>
         {% endif %}
         <td>{{ order.batch_date.strftime("%Y-%m-%d %H:%M") }}</td>
         <td>{{ order.total }}</td>
         {% if order.payment_id %}
         <td>Payée</td>
         {% else %}
         <td>Non payée</td>
         {% endif %}
         <td>{% if now < order.cancellation_date and not order.payment_id  %}<a href="{{ url("delete_order", id=order.id) }}">Supprimer</a>{% endif%}</td>
      </tr>
      {%- endfor %}
   </tbody>
</table>
{% endblock %}

