{% extends "base.html" %}
{% block title %}Fournées{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("home") }}">Accueil</a></li>
    <li class="active">Fournées</li>
</ol>
{% endblock %}

{% block page_content %}
<div class="form-group"><a href="{{ url("create_batch") }}" class="btn btn-default">Créer un fournée</a></div>

<table class="table table-hover">
   <thead>
      <tr>
         <th>Date</th>
         <th>Capacité</th>
         <th>Ouverte</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for batch in batches %}
      <tr>
         <td><a href="{{ url("edit_batch", id=batch.id) }}">{{ batch.date }}</a></td>
         <td>{{ batch.capacity }}</td>
         <td>{{ batch.opened }}</td>
         <td><a href="{{ url("delete_batch", id=batch.id) }}">Supprimer</a></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}
