{% extends "base.html" %}
{% block title %}Produits{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("home") }}">Accueil</a></li>
    <li class="active">Produits</li>
</ol>
{% endblock %}

{% block page_content %}
<div class="form-group"><a href="{{ url("create_product") }}" class="btn btn-default">Créer un produit</a></div>

<table class="table table-hover">
   <thead>
      <tr>
         <th>Nom</th>
         <th>Disponible</th>
         <th>Prix</th>
         <th>Poids du pâton</th>
         <th></th>
      </tr>
   </thead>
   <tbody>
      {% for product in products %}
      <tr>
         <td><a href="{{ url("edit_product", id=product.id) }}">{{ product.name }}</a></td>
         <td>{{ product.available }}</td>
         <td>{{ product.price }}</td>
         <td>{{ product.load }}</td>
         <td><a href="{{ url("delete_product", id=product.id) }}">Supprimer</a></td>
      </tr>
      {% endfor %}
   </tbody>
</table>
{% endblock %}
