{% extends "base.html" %}

{% block title %}{{ _("Plan de fournée") }}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ url("home") }}">{{ _("Accueil") }}</a></li>
    <li class="breadcrumb-item active">{{ _("Plan de fournée") }}</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("plan") }}" class="form-inline" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group">
        {{ form.batch_id.label }}
        {{ form.batch_id(class="form-control") }}
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
{% if products %}
<h3>{{ _("Charge de la fournée") }}</h3>

<p>{{ batch.load }} / {{ batch.capacity }}</p>

<h3>{{ _("Produits de la fournée") }}</h3>

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ _("Nom du produit") }}</th>
            <th>{{ _("Quantité") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
        {% endfor %}
    <tbody>
</table>
{% endif %}

{% if products_by_repository %}
<h3>{{ _("Produits de la fournée par point de livraison") }}</h3>

{% for repository_name, repository_products in products_by_repository|groupby("repository_name") -%}
<h4>{{ repository_name }}</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ _("Nom du produit") }}</th>
            <th>{{ _("Quantité") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for product in repository_products -%}
        <tr>
            <td>{{ product.product_name }}</td>
            <td>{{ product.quantity }}</td>
        </tr>
        {%- endfor %}
    <tbody>
</table>
{%- endfor %}
{% endif %}

{% if products_by_repository_by_client %}
<h3>{{ _("Produits de la fournée par point de livraison et par client") }}</h3>

{% for repository_name, repository_client_products in products_by_repository_by_client|groupby("repository_name") -%}
<h4>{{ repository_name }}</h4>

<table class="table table-hover">
    <thead>
        <tr>
            <th>{{ _("Nom du client") }}</th>
            <th>{{ _("Prénom du client") }}</th>
            <th>{{ _("Nom du produit") }}</th>
            <th>{{ _("Quantité") }}</th>
        </tr>
    </thead>
    <tbody>
        {% for products_by_client in repository_client_products %}
        <tr>
            <td>{{ products_by_client.last_name }}</td>
            <td>{{ products_by_client.first_name }}</td>
            <td>{{ products_by_client.product_name }}</td>
            <td>{{ products_by_client.quantity }}</td>
        </tr>
        {%- endfor %}
    <tbody>
</table>
{%- endfor %}
{% endif %}
{% endblock %}
