{% extends "base.html" %}
{% block title %}{{ _("Accueil") }}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">{{ _("Accueil") }}</li>
</ol>
{% endblock %}
{% block page_content %}
<div class="text-center">
    <div class="form-group">
        {{ _("Pas encore client ?") }}
        <a href={{ url("register") }} class="btn btn-primary">{{ _("Enregistrez vous") }}</a>
    </div>
    <div class="form-group">
        {{ _("Déjà enregistré ?") }}
        <a href={{ url("login") }} class="btn btn-light">{{ _("Connectez vous") }}</a>
        <small><a href="{{ url("password") }}">{{ _("Mot de passe perdu") }}</a></small>
    </div>
    <p>
        {{ _("Pour tout problème concernant ce site, veuillez écrire à") }}
        <a href="mailto:{{ app.config.application.from }}?subject={{ app.config.application.site_name }}">{{ app.config.application.from }}</a>
    </p>
</div>
{% endblock %}
