{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active">Accueil</li>
</ol>
{% endblock %}
{% block page_content %}
<div class="text-center">
    <div class="form-group">
        Pas encore client ?
        <a href={{ url("register") }} class="btn btn-primary">Enregistrez vous</a>
    </div>
    <div class="form-group">
        Déjà enregistré ?
        <a href={{ url("login") }} class="btn btn-light">Connectez vous</a>
	<small><a href="{{ url("password") }}">Mot de passe perdu</a></small>
    </div>
    <p>
        Pour tout problème concernant ce site, veuillez écrire à
	<a href="mailto:{{ app.config.application.from }}?subject={{ app.config.application.site_name }}">{{ app.config.application.from }}</a>
    </p>
</div>
{% endblock %}
