{% extends "bootstrap/base.html" %}
{% block content %}
<div class="container">
    {% block breadcrumb %}{% endblock %}
    {% block message %}
    {% if success_message %}
     <div class="alert alert-success">
	 <strong>Success!</strong> {{ success_message }}
    </div>
    {% endif %}
    {% if warning_message %}
    <div class="alert alert-warning">
	<strong>Warning!</strong> {{ warning_message }}
    </div>
    {% endif %}
    {% endblock %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
