{% extends "base.html" %}
{% block title %}Client{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">Client</li>
</ol>
{% endblock %}

{% block page_content %}
<p>Hello {{ client.first_name }} !</p>
<p>Nice to see you again</p>

<ul>
    <li><a href="{{ url("profile") }}">Edit profile</a></li>
    <li><a href="{{ url("email") }}">Change email</a></li>
{% if client.super_user %}
    <li><a href="{{ url("admin") }}">Admin</a></li>
{% endif %}
    <li><a href="{{ url("logout") }}">Logout</a></li>
</ul>

{% endblock %}
