{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link href="/static/bootstrap-datepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Create batch{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/admin/">Administration</a></li>
    <li><a href="/batch/list/">Batches</a></li>
    <li class="active">Create batch</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="/batch/create/" role="form">
    <div class="form-group{% if form.date.errors %} has-error{% endif %}">
        <label for="date">{{ form.date.label }}</label>
        {{ form.date() }}
        <div class="input-group date form_date" data-date="" data-date-format="d MM yyyy hh:ii" data-link-field="date" data-link-format="yyyy-mm-dd hh:ii:00">
            <input class="form-control" size="16" type="text" value="" readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    </div>
    <div class="form-group{% if form.capacity.errors %} has-error{% endif %}">
        <label for="capacity">{{ form.capacity.label }}</label>
        {{ form.capacity(class="form-control", placeholder="Enter capacity") }}
        {% if form.capacity.errors %}
        <div class="help-text">
            {% for error in form.capacity.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="opened">{{ form.opened.label }}</label>
        {{ form.opened() }}
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/batch/list/" class="btn btn-default">Cancel</a>
    </div>
</form>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="/static/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/static/bootstrap-datepicker/js//locales/bootstrap-datetimepicker.fr.js"></script>
<script>

// When the document is ready
$(document).ready(function () {
    $('.form_date').datetimepicker({
        language:  'fr',
        weekStart: 1,
        todayBtn:  0,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        startDate: '+1d',
        minuteStep: 15,
    });
    $('.form_date').datetimepicker('update', $('#date').val());
});
</script>
{% endblock %}
