{% extends "base.html" %}
{% block title %}Create product{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("admin") }}">Administration</a></li>
    <li><a href="{{ url("list_product") }}">Products</a></li>
    <li class="active">Create product</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="{{ url("create_product") }}" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(class="form-control", placeholder="Enter name") }}
        {% if form.name.errors %}
        <div class="help-text">
            {% for error in form.name.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.description.errors %} has-error{% endif %}">
        <label for="description">{{ form.description.label }}</label>
        {{ form.description(class="form-control", placeholder="Enter description") }}
        {% if form.description.errors %}
        <div class="help-text">
            {% for error in form.description.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.price.errors %} has-error{% endif %}">
        <label for="price">{{ form.price.label }}</label>
        {{ form.price(class="form-control", placeholder="Enter price") }}
        {% if form.price.errors %}
        <div class="help-text">
            {% for error in form.price.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group{% if form.load.errors %} has-error{% endif %}">
        <label for="load">{{ form.load.label }}</label>
        {{ form.load(class="form-control", placeholder="Enter load") }}
        {% if form.load.errors %}
        <div class="help-text">
            {% for error in form.load.errors %}<p>{{ error }}</p>{% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="available">{{ form.available.label }}</label>
        {{ form.available() }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url("list_product") }}" class="btn btn-default">Cancel</a>
    </div>
</form>
{% endblock %}
