{% extends "base.html" %}
{% block title %}Edit repository{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/admin/">Administration</a></li>
    <li><a href="/repository/list/">Repositories</a></li>
    <li class="active">Edit repository</li>
</ol>
{% endblock %}

{% block page_content %}
<form method="POST" action="/repository/edit/{{ id }}/" role="form">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <p>You have submitted an invalid CSRF token</p>
    {% endif %}
    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
        <label for="name">{{ form.name.label }}</label>
        {{ form.name(class="form-control", placeholder="Enter name") }}
        {% if form.name.errors %}
	<div class="help-text">
            {% for error in form.name.errors %}<p>{{ error }}</p>{% endfor %}
	</div>
        {% endif %}
    </div>
    <div class="form-group">
        <label for="opened">{{ form.opened.label }}</label>
	{{ form.opened() }}
    </div>
    <div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="/repository/list/" class="btn btn-default">Cancel</a>
    </div>
</form>
{% endblock %}
