{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="active">Accueil</li>
</ol>
{% endblock %}

{% block page_content %}
<p>Bonjour {{ client.first_name }} ! Ravi de vous revoir à nouveau.</p>

{% if client.super_user %}
<ul>
    <li><a href="{{ url("list_batch") }}">Fournées</a></li>
    <li><a href="{{ url("list_product") }}">Produits</a></li>
    <li><a href="{{ url("list_repository") }}">Points de livraison</a></li>
    <li><a href="{{ url("plan") }}">Plan de fournée</a></li>
</ul>
{% endif %}

<ul>
    <li><a href="{{ url("list_order") }}">Commandes</a></li>
</ul>

<ul>
    <li><a href="{{ url("profile") }}">Modifier votre profil</a></li>
    <li><a href="{{ url("email") }}">Changer d'email</a></li>
    <li><a href="{{ url("logout") }}">Déconnexion</a></li>
</ul>

{% endblock %}
