{% extends "base.html" %}
{% block title %}Operations on repositories{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="/admin/">Administration</a></li>
    <li class="active">Repositories</li>
</ol>
{% endblock %}

{% block page_content %}
<a href="/repository/create/" class="btn btn-default">Create a repository</a>

<table class="table table-hover">
   <thead>
      <tr>
         <th>Name</th>
         <th>Opened</th>
         <th></th>
      </tr>
   </thead>
{% for repo in repositories %}
   <tbody>
      <tr>
         <td><a href="/repository/edit/{{ repo.id }}/">{{ repo.name }}</a></td>
         <td>{{ repo.opened }}</td>
         <td><a href="/repository/delete/{{ repo.id }}/">Delete</a></td>
      </tr>
   </tbody>
{% endfor %}
</table>
{% endblock %}
