{% extends "base.html" %}
{% block title %}Operations on repositories{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("admin") }}">Administration</a></li>
    <li class="active">Repositories</li>
</ol>
{% endblock %}

{% block page_content %}
<div class="form-group"><a href="{{ url("create_repository") }}" class="btn btn-default">Create a repository</a></div>

<table class="table table-hover">
   <thead>
      <tr>
         <th>Name</th>
         <th>Opened</th>
         <th></th>
      </tr>
   </thead>
{% for repo in repositories %}
   <tbody>
      <tr>
         <td><a href="{{ url("edit_repository", id=repo.id) }}">{{ repo.name }}</a></td>
         <td>{{ repo.opened }}</td>
         <td><a href="{{ url("delete_repository", id=repo.id) }}">Delete</a></td>
      </tr>
   </tbody>
{% endfor %}
</table>
{% endblock %}
