{% extends "base.html" %}

{% block title %}Détail de paiement{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url("home") }}">Accueil</a></li>
    <li><a href="{{ url("list_order") }}">Commandes</a></li>
    <li class="active">Détail de paiement</li>
</ol>
{% endblock %}

{% block page_content %}
    <h3>Éléments de la facture</h3>

    <table class="table table-hover">
        <tbody>
        <tr>
            <td>Numéro de facture</td>
            <td>{{ payment.id }}</td>
        </tr>
        <tr>
            <td>Montant de la facture</td>
            <td>{{ payment.total }} €</td>
        </tr>
        {% if payment.mode and payment.mode != "not_payed" %}
        <tr>
            <td>Mode de paiement</td>
            <td>{{ payment.mode|translate_mode}}</td>
        </tr>
        {% endif %}
        {% if payment.payed_at %}
        <tr>
            <td>Date de paiement</td>
            <td>Le {{ payment.payed_at.strftime("%d-%m-%Y à %H:%M") }}</td>
        </tr>
        {% endif %}
        {% if payment.reference %}
        <tr>
            <td>Données complémentaires du paiement</td>
            <td>{{ payment.reference }}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <h3>Récapitulatif de la facture par fournée</h3>

    {% for batch_date, batch_date_group in payment_details|groupby("batch_date") -%}
    {% for order_total, group_list in batch_date_group|groupby("order_total") -%}
    <h4>Fournée du {{ batch_date.strftime("%d-%m-%Y à %H:%M") }}</h4>

    <p>Montant de la commande : {{ order_total }} €</p>

    <table class="table table-hover">
        <thead>
            <th>Nom du produit</th>
            <th>Quantité</th>
        </thead>
        <tbody>
            {% for line in group_list -%}
            <tr>
                <td>{{ line.product_name }}</td>
                <td>{{ line.quantity }}</td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>

    {%- endfor %}
    {%- endfor %}

    <a href="{{ url("list_order") }}" class="btn btn-default">Retour</a>
{% endblock %}
